.apploginbox{
    background: #fff;
    .applogin{
        position: relative;
        .applogin-logo{
            display: flex;
            height: 160px;
            justify-content: center;
            align-items: center;
            image{
                width: 120rpx;
                height: 120rpx;
            }
        }
        .applogin-form{
            width: 100%;
            .applogin-form-container{
                .applogin-form-container-link{
                    height: 60rpx;
                    margin-bottom: 60rpx;
                    .applogin-form-container-link-item{
                        width: 50%;
                        height: 60rpx;
                        float: left;
                        text-align: center;
                        line-height: 60rpx;
                        text{
                            color: #1989fa;
                        }
                    }
                }
                .applogin-form-container-loginbtn{
                    display: flex;
                    width: 100%;
                    justify-content: center;
                    .van-button{
                        width: 600rpx;
                    }
                }
            }
        }
    }
}