//人数计算
var handlerShowNum = function(n){
  if (n >= 10000) {
    n = n / 10000
    n = n.toFixed(1)
    n = n + "万"
  }
  return n
}

//时间换算
var handlerShowTimeYM = function(value){
  var time = getDate(value);
  var year = time.getFullYear();
  var month = time.getMonth() + 1;
  var date = time.getDate();
  var hour = time.getHours();
  var minute = time.getMinutes();
  var second = time.getSeconds();
  month = month < 10 ? "0" + month : month;
  date = date < 10 ? "0" + date : date;
  hour = hour < 10 ? "0" + hour : hour;
  minute = minute < 10 ? "0" + minute : minute;
  second = second < 10 ? "0" + second : second;
  return year + "年" + month + "月"
}

//时间换算
var handlerShowTimeYMD = function(value){
  var time = getDate(value);
  var year = time.getFullYear();
  var month = time.getMonth() + 1;
  var date = time.getDate();
  var hour = time.getHours();
  var minute = time.getMinutes();
  var second = time.getSeconds();
  month = month < 10 ? "0" + month : month;
  date = date < 10 ? "0" + date : date;
  hour = hour < 10 ? "0" + hour : hour;
  minute = minute < 10 ? "0" + minute : minute;
  second = second < 10 ? "0" + second : second;
  return year + "-" + month + "-" + date
}

//时间换算
var handlerShowTime = function(value){
  var time = getDate(value);
  var year = time.getFullYear();
  var month = time.getMonth() + 1;
  var date = time.getDate();
  var hour = time.getHours();
  var minute = time.getMinutes();
  var second = time.getSeconds();
  month = month < 10 ? "0" + month : month;
  date = date < 10 ? "0" + date : date;
  hour = hour < 10 ? "0" + hour : hour;
  minute = minute < 10 ? "0" + minute : minute;
  second = second < 10 ? "0" + second : second;
  return year + "年" + month + "月" + date + "日" + hour + ":" + minute + ":" + second
}

//大写字母
var handlerCapitalNum = function(value){
  return value.toUpperCase()
}

module.exports = {
  handlerShowNum: handlerShowNum
  handlerShowTimeYM: handlerShowTimeYM
  handlerShowTimeYMD: handlerShowTimeYMD
  handlerShowTime: handlerShowTime
  handlerCapitalNum: handlerCapitalNum
}